/**,
*::before,
*::after{
  box-sizing: border-box;
}*/

.is-complete {
  text-decoration: line-through;
}

.is-incomplete {
  text-decoration: none;

}
body{
    /*font-family: 'Open Sans', sans-serif;
    font-size: 16px;*/
    background-color: cornflowerBlue;
}

.create{
  text-align: center;
}

.create-form {
  border: 8px solid blue;
  padding: 30px 30px;
  margin: 20px;
}

.add-button {
  border-radius: 20px;
  background-color: lightblue;
  color: black;
  border: 2px solid blue;
}

.read {
  /*border: 8px solid blue;
  border-top: 0px;*/
  padding: 10px 10px;
  padding-top: 0;
  margin: 20px;
}

.complete-label{
  text-align: right;
  font-size:16px;
  font-weight: normal;
}

.todo-list{
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
 }

.delete-button{
  background-color: lightblue;
  border: 2px solid black;
  margin-right: 10px;
}

.todo-item{
  margin-top:10px;
}
.complete-checkbox{
  margin-left: 30px;
  margin-left: 150px;
}
.taskitems-left-side{
  display: inline-block;
  width: 215px;
}

.taskitems-right-side{
  display: inline-block;
  width: 200px;
}
